* {
  margin: auto 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            }

.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }


  input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
  input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
  input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
  input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
  input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
  input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
  input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
  input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

  textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
  textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
  textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
  textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
  textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
  textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
  textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
  textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}


html, body {
  height: 100%;
  width: 100%;
  position: relative;
/*  overflow-x: hidden;
  overflow-y: auto;*/

}

/*#main {
 position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow:hidden;
}*/

h1 {
    color: white;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    margin: 0 auto;
}

section {
    overflow: hidden;
    position: relative;
}

/*--------------------------------------------SIDE NAVIGATION BAR-----------------------------------------*/

/* Initial sidebar */
#sidebar {
  position: fixed;
  background-color: #080D33; 
 left: 0px;  /* start off behind the scenes */
  /*float: left;*/
  width: 285px;
  height: 100%;
}

#sidebar nav {
  position:relative;
  height: 100%;
}

#sidebar ul {

  list-style: none;
  /*padding-top: 50px;*/
  height: 75%;
  margin: 0 auto;
  position: absolute;
}

#sidebar li  {
/*  border-bottom: 1px solid #636366;*/
  font-family: 'Rajdhani', sans-serif;
  height: 4%;
  padding-bottom: 3px;
  padding-top: 3px;
 /* padding-right: 8em;*/
  padding-left: 1em;
  /*padding-right: 3em;*/
  text-align: center;
  margin-top: 18%;
}

.socialmediaicons i {
  padding: 0px 8px 0 8px;
}


#sidebar a {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

#sidebar li a:hover{
  color:#990000;
}


.icon-close {
  cursor: pointer;
  padding-left: 25px;
  padding-top: 25px;
  color: #990000;
  font-size: 60px;

}

.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Rajdhani', sans-serif;
  font-size: 50px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
  position: fixed;
  width:150px;
  z-index: 1;
/*  top: 0;
  left: 0;*/
}

.icon-menu i {
  margin-right: 5px;
}


/*--------------------------------------------CONTENT PAGES-----------------------------------------*/

#content {
  position: absolute;
    width:100%;
    height: 100%;
}


header {

  font-size: 40px;

}

.wrapper {
 
 margin: 0 auto;
 width: 90%;
 position: relative;
 padding-bottom: 6%;
}


/*--------------------------------------------HOME SECTION------------------------------------------------*/
.home {
      position: relative;
      background-image: url('../images/homepage.jpg');
      height: 90%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
      }


/*----------------WRAPPER DIV FOR IMAGE ADND BUTTON ALIGNMENT------------*/

.wrapper1 {
    top: 25%;
    position: relative;

}

/*----------------LOGO DIV------------*/
#brand {
  position: relative;
  width: 100%;
  left:25%;
}

/*----------------BRAND LOGO----------*/

.brand-logo {
    width: 50%;
    
}

/*----------------BUTTONS DIV----------*/

#homeButtons {
  position: absolute;
  width: 100%;
  text-align: center;
  display: inline-block;
}


/*----------------HOME BUTTONS----------*/
.button1,.button2 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
   /* text-align: center;*/
    padding: 1.5% 8% 1.5% 8%;
    border-radius: 7px;
    background: #bf4a54;
    color: #ffffff;
    text-decoration: none;
}



/*--------------------------------------------NEW TRACKS SECTION------------------------------------------*/

.music {
  background-color:#B8B2BA; 
    
}



/*--------------------------------------------BROWSE SECTION------------------------------------------*/


.charts {
/*    background-image: url('../images/section3.jpg');
        -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;*/
          background-color: #982262;
}



/*--------------------------------------------ABOUT SECTION------------------------------------------*/



.playlists {
    background-color: #140328;
}


/*--------------------------------------------CONTACT SECTION------------------------------------------*/



.contact {
/*        background-image: url('../images/section5.jpg');
        -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;*/
          background-color: #B81739;


}

/*----------------CONTACT FORM----------*/



input:focus, textarea:focus, keygen:focus, select:focus {
  outline: none;
}


::-moz-placeholder {
  font-family: 'Rajdhani', sans-serif;
  color: #666;
  font-weight: 500;
  opacity: 1;
}


::-webkit-input-placeholder {
  font-family: 'Rajdhani', sans-serif;
  color: #666;
  font-weight: 500;
}

#map {
   height: 500px;
   width: 40%;
   display: inline-block;
     }

#detailsAndForm {
  width: 49%;
  
  display: inline-block;
  margin-left: 10%;
  }

input,textarea {
  width: 100%;
  border-radius: 3px;
  border: none;
  font-family: 'Rajdhani', sans-serif;
}

#contact-form {
  position: relative;
  width: 100%;
}

.button {
 position: ;
 width: 50%;
 display: block;
 margin: 0 auto;
 /*top: 5px;*/
 margin-top: 5px;

}

#button {
  background-color: #2B3F57;
   padding: 4px;
 font-size: 24px;
 color: white;
 font-weight: bold;
}

#button:hover {
  background-color: white;
  color: #2B3F57;
}


h2 {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.socialLinks {
  font-family: 'Rajdhani', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
  text-align: right;
}

.contactDetails {
 float: right;
}

/*--------------------------------------------MAP------------------------------------------*/







/*--------------------------------------------MY PROFILE------------------------------------------*/


.myProfile {
    background-color: #7B686E;

}


